:root {
    --color-slategrey: slategrey;
    --color-black: black;
    --color-dark-purple: #351E29;
    --color-blueviolet: blueviolet;
    --color-quinacridone-magenta: #A13D63;
    --color-wisteria: #BEA7E5;
    --color-atomic-tangerine: #F7A278;
    --color-tea-green: #C8E9A0;
    --color-dark-spring-green: #137547;

    --background-color-linear-gradient-ogp: linear-gradient(0.25turn, #C8E9A0, #F7A278, #BEA7E5, #BEA7E5, #F7A278, #C8E9A0);
    --background-color-linear-gradient-green: linear-gradient(0.75turn, var(--color-dark-spring-green), var(--color-tea-green), var(--color-dark-spring-green), var(--color-tea-green), var(--color-dark-spring-green));
    --background-color-linear-gradient-gold: linear-gradient(0.25turn, #AF5929, #E1C773, #AF5929);

    --box-shadow-color: 0 0 10px var(--color-atomic-tangerine);
    --box-shadow-color-hover: 0 0 20px inset var(--color-atomic-tangerine), 0 0 20px var(--color-quinacridone-magenta);

    --text-shadow-color-black: 0.5px 0.5px 0.5px var(--color-black);
    --text-shadow-color-black-thick: 2px 2px 2px var(--color-black);
    --text-shadow-color-black-tea-green: 1px 1px 1px var(--color-black), -0.25px -0.25px 1px var(--color-tea-green);
}

body {
    background: var(--background-color-linear-gradient-green);
    margin: 0 50px;
    max-width: 920px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-tea-green);
    text-shadow: var(--text-shadow-color-black-thick);
    font-size: 2em;
    letter-spacing: 1px;
    padding: 10px;
}

.hidden {
    display: none;
}

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 920px;
    flex-grow: 1;
    height: 200px;
    max-width: 920px;
    border: 2px solid var(--color-dark-purple);
    box-shadow: var(--box-shadow-color);
    color: var(--color-dark-spring-green);
    text-shadow: var(--text-shadow-color-black);
    background-color: var(--color-tea-green);
    font-size: 1.5em;
    padding: 25px;
    margin: 0 25px;
}

#start-game {
    letter-spacing: 2px;
    background: var(--background-color-linear-gradient-gold);
    color: var(--color-blueviolet);
    text-shadow: var(--text-shadow-color-black-tea-green);
    padding: 5px 20px;
    border-radius: 5px;
}

#time-left {
    font-size: 1.5em;
}

#question-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 920px;
    flex-grow: 1;
    height: 200px;
    max-width: 920px;
    border: 2px solid var(--color-dark-purple);
    box-shadow: var(--box-shadow-color);
    color: var(--color-dark-spring-green);
    text-shadow: var(--text-shadow-color-black);
    background-color: var(--color-tea-green);
    font-size: 2em;
    padding: 25px;
    margin: 0 25px;
}

#question-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: var(--text-shadow-color-black-thick);
    letter-spacing: 1px;
}

#question-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
}

#answers-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    gap: 20px;
    padding: 25px;
}

.answer-option {
    display: flex;
    flex: 1 1 350px;
    max-width: 450px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 100px;
    border: 2px solid var(--color-dark-purple);
    box-shadow: var(--box-shadow-color);
    color: var(--color-dark-spring-green);
    text-shadow: var(--text-shadow-color-black);
    background-color: var(--color-tea-green);
    font-size: 1.5em;
    padding: 10px;
}

.answer-option:hover {
    color: var(--color-dark-purple);
    text-shadow: var(--text-shadow-color-black);
    background-color: var(--color-wisteria);
    box-shadow: var(--box-shadow-color-hover);
}

#timebox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--color-atomic-tangerine);
    box-shadow: var(--box-shadow-color);
    background: var(--background-color-linear-gradient-ogp);
    font-size: 1.5em;
    color: var(--color-dark-spring-green);
    text-shadow: var(--text-shadow-color-black-tea-green);
    padding: 25px;
    margin: 10px 25px;
}

#end-screen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 920px;
    flex-grow: 1;
    height: 200px;
    max-width: 920px;
    border: 2px solid var(--color-dark-purple);
    box-shadow: var(--box-shadow-color);
    color: var(--color-dark-spring-green);
    text-shadow: var(--text-shadow-color-black);
    background-color: var(--color-tea-green);
    font-size: 1.5em;
    padding: 25px;
    margin: 0 25px;
}

#scores-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 1 920px;
    flex-grow: 1;
    max-width: 920px;
    border: 2px solid var(--color-dark-purple);
    box-shadow: var(--box-shadow-color);
    color: var(--color-dark-spring-green);
    text-shadow: var(--text-shadow-color-black);
    background-color: var(--color-tea-green);
    padding: 25px;
    margin: 0 25px;
    text-decoration: none;
}

#scorebox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    color: var(--color-dark-spring-green);
    text-shadow: var(--text-shadow-color-black-tea-green);
    padding: 25px;
    margin: 10px 25px;
}

#reset-score,
#prevPage,
#submit-btn {
    letter-spacing: 1px;
    background: var(--background-color-linear-gradient-gold);
    color: var(--color-blueviolet);
    text-shadow: var(--text-shadow-color-black-tea-green);
    padding: 5px 20px;
    border-radius: 5px;
}
